h2 {
    background-color: moccasin;
    color: firebrick;
}
h3 {
    background-color: darksalmon;
    color: beige;
}
header {
    background-color: darkgray;
    color: cornsilk;
}
h2, h3, img {
    border-style: solid;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}